@font-face {
    font-family: "Astera";
    src: url('/Assets/Fontes/ASTERA v2.ttf') format('truetype');
    font-weight: normal;
    font-style:normal;
}
@font-face {
    font-family: "Trap";
    src: url('/Assets/Fontes/Trap-Regular.otf') format('opentype');
}

@font-face {
    font-family: "Edensor";
    src: url('/Assets/Fontes/Edensor-Free.otf') format('opentype');
}

:root{
    --img-size: 500px;
    --logo-size: 220px;
}

* {
    margin: 0;
    padding: 0;
}

header{
    background: rgb(143, 35, 35);
    background-attachment: fixed;
    background-size: cover;
    height: 5.7vw;
    min-height: 50px;
    position: relative;
}

.header-logo{
    position: absolute;
    width: 20vw;
    min-width: 180px;
    display: inline-block;
    top: 18%;
    left: 3%;
}

ul{
    position: absolute;
    display: inline-flex;
    top: 35%;
    left: 23%;
    list-style-type: none;
}

a{
    text-decoration: none;
    color: rgba(231, 229, 229, 0.753);
    font-family: "Trap";
    font-size: clamp(18px, 2vw, 18px);

}

li{
    margin-left: 5vw;
}

a:hover{
    color:rgb(240, 235, 235);
    transition: 300ms;
}


/* PAINEL DO CARRO */
#car-img-div{
    position: relative;
    float: right;
    transform: translate(-10%, 10%);
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    background: rgba(175,64,64,1);
    background: linear-gradient(28deg, rgb(150, 44, 44) 5%, rgb(177, 76, 76) 60%);
    width: 35%;
    min-width: 300px;
    border-bottom-left-radius: 2vw;
    border-bottom-right-radius: 2vw;
}


/* IMAGEM DO CARRO */
#car-img{
    border-top-left-radius: 2vw;
    border-top-right-radius: 2vw;
    width: 100%;
    
}



/* TITULO DO CARRO */
#car-img-div h2{
    margin-top: 2%;
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: "Trap";
    font-size: clamp(22px, 2vw, 24px);
}

/* TEXTO DO CARRO */
#car-img-div p{
    color: rgb(218, 216, 216);
    font-size: clamp(18px, 1.3vw, 22px);
    font-family: "Trap";
    padding: 5%;
    padding-top: 0;
    margin-top: 2%;
}





