@font-face {
    font-family: "Astera";
    src: url('/Assets/Fontes/ASTERA v2.ttf') format('truetype');
    font-weight: normal;
    font-style:normal;
}
@font-face {
    font-family: "Trap";
    src: url('/Assets/Fontes/Trap-Regular.otf') format('opentype');
}

@font-face {
    font-family: "Edensor";
    src: url('/Assets/Fontes/Edensor-Free.otf') format('opentype');
}

:root{
    --img-size: 500px;
    --logo-size: 220px;
}

* {
    margin: 0;
    padding: 0;
}

header{
    background: rgb(143, 35, 35);
    background-attachment: fixed;
    background-size: cover;
    height: 70px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    -webkit-box-shadow: -1px -15px 21px 9px rgba(0,0,0,0.53); 
    box-shadow: -1px -15px 21px 9px rgba(0,0,0,0.53);
}

.header-logo{
    width: 300px;
}

ul{
    display: flex;
    gap: 25px;
    list-style-type: none;
}

a{
    text-decoration: none;
    color: rgba(231, 229, 229, 0.753);
    font-family: "Trap";
    font-size: clamp(18px, 2vw, 18px);

}
a:hover{
    color:rgb(240, 235, 235);
    transition: 300ms;
}

/* MAIN */

.sec-main{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-around;

}

.sec-main h2{
    color: rgb(143, 35, 35);
    font-family: 'Trap';
    font-weight: bold;
    font-size: 56px;
}

/* PAINEL DO CARRO */
#car-img-div{
    grid-area: b2;
    margin: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    background: rgba(175,64,64,1);
    background: linear-gradient(28deg, rgb(150, 44, 44) 5%, rgb(177, 76, 76) 60%);
    width: 350px;
    min-width: 300px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    -webkit-box-shadow: 7px 6px 32px 9px rgba(0,0,0,0.38); 
    box-shadow: 7px 6px 32px 9px rgba(0,0,0,0.38);
}

/* IMAGEM DO CARRO */
#car-img{
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    width: 100%;
    
}

/* TITULO DO CARRO */
#car-img-div h2{
    margin-top: 2%;
    color: rgb(255, 255, 255);
    font-family: "Trap";
    font-size: clamp(22px, 2vw, 24px);
}

/* TEXTO DO CARRO */
#car-img-div p{
    color: rgb(218, 216, 216);
    font-size: clamp(18px, 1.3vw, 22px);
    font-family: "Trap";
    padding: 5%;
    padding-top: 0;
    margin-top: 2%;
}

#sponsor-img-1{
    width: 110px;
    grid-area: a2;
}

#sponsor-img-2{
    width: 270px;
    grid-area: a3;
}

#sponsor-img-3{
    width: 270px;
    grid-area: a4;
}

.sponsors h2{
    color: rgb(240, 228, 228);
    font-family: "Trap";
    font-weight: 600;
    font-size: 32px;
    grid-area: a1;
}

.sponsors{
    display: grid;
    background: rgb(143, 35, 35);
    width: 100%;
    padding-bottom: 100px;
    padding-top: 70px;
    grid-template-areas: "a1 a1 a1"
                         "a2 a3 a4"
    ;
    grid-row-gap: 60px;
    align-items: center;
    justify-items: center;

    /* Sombras */
    /* -webkit-box-shadow: 0px 3px 21px 0px rgba(0,0,0,0.6);  */
    /* box-shadow: 0px 3px 21px 0px rgba(0,0,0,0.6); */

    -webkit-box-shadow: 0px 3px 50px 0px rgba(0,0,0,0.6); 
box-shadow: 0px 3px 50px 0px rgba(0,0,0,0.6);
}